/* .navbar{
    margin-top: 75px;
} */
.navbar li {
    list-style-type: none;
    font-size: 20px;
    color: #17181C;
    font-weight: 500;
} 
.nav-link{
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 0.3rem;
}
.navbar ul{
    display: flex;
    justify-content: left;
    gap: 1rem;
}
.navbar img{
   height: 60px;
   width: 60px;
}
